*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#52796f;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color:#f7edd2;
    border-radius:1rem;
    border: none;
    font-size: 8vmin;
    color: brown;
    box-shadow: 0 0 1rem rgb(73, 73, 73);
}
#reset-btn{
    background-color:black;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 1rem;
    border: none;  
}

#new-btn{
    background-color:black;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 1rem;
    border: none;  
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
#msg{
    color:white;
    font-size: 5vmin;
}
.hide{
    display: none;
}